.nav-link {
    color: #fcfcfc;
    font-size: 18px;
    transition: 0.25s ease;
}

.nav-link:hover {
    color: #1261A0;
    transform: scale(1.1);
    background-size: 100%;
}


#admUser{
    text-decoration: none;
}
#admUser:hover{
    color: red;
    text-decoration: underline;
}
