#headerLogo {
    width: 32px;
    transition: 0.5s;
}

#headerLogo:hover {
    transform: scale(1.2);
}

.navbar-brand {
    width: 7%;
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
}

#cartLogo {
    width: 30px;
    height: 30px;
}

#cartLogo:hover {
    transform: scale(1.2);
}
