#headerLogo {
    width: 40px;
    transition: 0.5s;
}

#headerLogo:hover {
    transform: scale(1.2);
}

#Branch {
	display: block;
  margin-left: auto;
  margin-right: 340px;
  width: 20%;
}
