#headerLogo {
    width: 40px;
    transition: 0.5s;
}

#headerLogo:hover {
    transform: scale(1.2);
}

#Branch1 {
	display: block;
  margin-left: auto;
  margin-right: 271.5px;
  width: 20%;
}
#Branch2 {
	display: block;
  margin-left: auto;
  margin-right: 340px;
  width: 20%;
}

#cartLogo{
	width: 30px;
	height: 30px;
}

#cartLogo:hover {
  transform: scale(1.2);
}
