#headerLogo {
    width: 40px;
    transition: 0.5s;
}

#headerLogo:hover {
    transform: scale(1.2);
}

.navbar-brand {
    width: 7%;
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
}

#Branch2 {
    display: block;
    margin-left: auto;
    margin-right: 490px;
    width: 10%;
}

#cartLogo {
    width: 30px;
    height: 30px;
}

#cartLogo:hover {
    transform: scale(1.2);
}
